body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fecb9c71;
}
header {
    background-color: #e91e63;
    padding: 10px;
    text-align: left;
    position: relative;
    height: 30px;
}
header a.logo {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    margin: 10px;
}
.logo img {
    max-height: 50px;
    text-align: left;
    padding: 0 30px;
    margin: -10px;
}
header a.back-arrow {
    position: absolute;
    left: 10px;
    top: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
}
.menu-btn {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: -30px 0;
    display: flex;
    justify-content: right;
    background-color: #e91e63;
}
nav ul li {
    margin: 0 20px;
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 20px 0;
    font-weight: bold;
}
.container {
    padding: 20px;
}
.recipe-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.recipe-header img {
    max-width: 100%;
    height: auto;
}
.container {
    padding: 20px;
}
.img{
    max-width: 100%;
}
.faq-container {
    max-width: 600px;
    margin: 0 auto;
}
.faq {
    background: #ed9de667;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #fecb9c;
}
.faq h3 {
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq p {
    display: none;
    padding: 10px 0;
    margin: 0;
}
footer {
    background-color: #a5d8af;
    color: #333;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.footer-content img {
    width: 100px;
    margin-bottom: 10px;
text-align: left;
}

.footer-content h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

.footer-content p {
    margin: 5px 0;
}

.comprar-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

.comprar-btn:hover {
    background-color: #45a049;
}

.social-media a {
    margin: 0 5px;
    display: inline-block;
}

.social-media img {
    width: 24px;
}

footer p {
    font-size: 0.9em;
    color: #666;
}
.social-media a img {
    width: 24px;
    margin: 0 10px;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

@media (max-width: 500px) {
    .menu-btn {
        display: block;
    }
    header nav {
        display: block;
    }
    header nav a {
        display: block;
        margin: 10px 0;
    }
}